### While Loop

In [1]:
n = 1
while n <= 10:
    print(f'{n}-Hello Corvit')
    n += 1

1-Hello Corvit
2-Hello Corvit
3-Hello Corvit
4-Hello Corvit
5-Hello Corvit
6-Hello Corvit
7-Hello Corvit
8-Hello Corvit
9-Hello Corvit
10-Hello Corvit

In [2]:
n = 1
while n <= 10:
    print(f'{n}-Hello Corvit')
    n += 2

1-Hello Corvit
3-Hello Corvit
5-Hello Corvit
7-Hello Corvit
9-Hello Corvit

In [15]:
# range(start, end, step)
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(2, 10, 2))

[2, 4, 6, 8]

### For Loop

In [27]:
for i in range(0, 10, 2):
    print(f'{i}-Hello Corvit')

0-Hello Corvit
2-Hello Corvit
4-Hello Corvit
6-Hello Corvit
8-Hello Corvit

In [ ]:
# break statement
for i in range(0, 20):
    if i == 12:
        break
    print(f'{i}-Hello Corvit')

0-Hello Corvit
1-Hello Corvit
2-Hello Corvit
3-Hello Corvit
4-Hello Corvit
5-Hello Corvit
6-Hello Corvit
7-Hello Corvit
8-Hello Corvit
9-Hello Corvit
10-Hello Corvit
11-Hello Corvit

In [ ]:
# continue statement
for i in range(0, 20):
    if i == 5:
        continue
    print(f'{i}-Hello Corvit')

0-Hello Corvit
1-Hello Corvit
2-Hello Corvit
3-Hello Corvit
4-Hello Corvit
6-Hello Corvit
7-Hello Corvit
8-Hello Corvit
9-Hello Corvit
10-Hello Corvit
11-Hello Corvit
12-Hello Corvit
13-Hello Corvit
14-Hello Corvit
15-Hello Corvit
16-Hello Corvit
17-Hello Corvit
18-Hello Corvit
19-Hello Corvit

In [ ]:
# pass statement
for i in range(0, 10):
    if i == 5:
        pass
    print(f'{i}-Hello Corvit')

0-Hello Corvit
1-Hello Corvit
2-Hello Corvit
3-Hello Corvit
4-Hello Corvit
5-Hello Corvit
6-Hello Corvit
7-Hello Corvit
8-Hello Corvit
9-Hello Corvit

In [35]:
# while (condition)
{
    
}

{}

### Nested Loop

In [5]:
for i in range(0, 5):
    print(f'{i}-------Outer Loop----------------')
    for j in range(0, 3):
        print(f'{j}-Inner Loop')

0-------Outer Loop----------------
0-Inner Loop
1-Inner Loop
2-Inner Loop
1-------Outer Loop----------------
0-Inner Loop
1-Inner Loop
2-Inner Loop
2-------Outer Loop----------------
0-Inner Loop
1-Inner Loop
2-Inner Loop
3-------Outer Loop----------------
0-Inner Loop
1-Inner Loop
2-Inner Loop
4-------Outer Loop----------------
0-Inner Loop
1-Inner Loop
2-Inner Loop

In [6]:
even = []
for i in range(20):
    if i % 2 == 0:
        even.append(i)

print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### List Comprehesion

In [44]:
x = [i for i in range(20) if i % 2 == 0]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Iterables

In [50]:
# Iterables
fruits = ['apple', 'banana', 'cherry', 'mango']
for i in fruits:
    print(i)

apple
banana
cherry
mango

In [ ]:
# Case no: 1 (Iterables)
fruits = ['apple', 'banana', 'cherry', 'mango']
for i in fruits:
    for x in i:
        print(x)
    print(i)

a
p
p
l
e
apple
b
a
n
a
n
a
banana
c
h
e
r
r
y
cherry
m
a
n
g
o
mango

In [ ]:
# Case no: 2 (Iterables)
fruits = ['apple', 'banana', 'cherry', 'mango']
for i in fruits:
    length = len(i)
    for x in range(0, length):
        print(i[x])
    print(i)
    print()

a
p
p
l
e
apple

b
a
n
a
n
a
banana

c
h
e
r
r
y
cherry

m
a
n
g
o
mango

In [ ]:
# Case no: 3 (Iterables)
fruits_dict = {'A': 'apple', 'B': 'banana', 
               'C': 'cherry', 'D': 'Dragon fruits'}

for x in fruits_dict:
    print(x)

A
B
C
D

In [ ]:
# Case no: 4 (Iterables)
fruits_dict = {'A': 'apple', 'B': 'banana', 
               'C': 'cherry', 'D': 'Dragon fruits'}

for x in fruits_dict.values():
    print(x)

apple
banana
cherry
Dragon fruits

In [ ]:
# Case no: 5 (Iterables)
fruits_dict = {'A': 'apple', 'B': 'banana', 
               'C': 'cherry', 'D': 'Dragon fruits'}

for x, y in fruits_dict.items():
    print(f'{x}-{y}')

A-apple
B-banana
C-cherry
D-Dragon fruits

In [ ]:
# Write a program that gets a number, start and end_limit from user and print its table such as:
# number = 6
# start = 3
# end = 12
# <format>
# 6 * 3 = 18
# 6 * 4 = 24
# ...
# 6 * 12 = 72